POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=troque-esta-chave-em-ambientes-reais
TELEMETRY_PORT=9050
ROUTING_PORT=8082
POSTGRES_PORT=5432
REDIS_PORT=6379
KAFKA_PORT=9092
MQTT_PORT=1883
